{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}
{% block content %}

<section id="profile-section">
    <div class="flex-container">
        <img src="{{user.image_url}}" width="150px" alt="profile picture for {{user.first_name}}">
        <div class="solid profile">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            <div class="profile-btn">
                <button onclick="location.href='/users/{{user.id}}/edit'">Edit</button>
                <button onclick="location.href='/users/{{user.id}}/delete'">Delete</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="solid posts-title">
    <h4>Posts</h4>
    </div>
    <br>
    <div class="solid">
        <ul>
        {% for post in posts %}
            <li><a href="/post/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
    </div>
    </section>
    <button onclick="location.href='/users/{{user.id}}/posts/new'">Add Post</button>
</div>
    
{% endblock %}