{% extends 'base.html' %}
{% block title %} Post {% endblock %}
{% block content %}
<form action="/post/{{post.id}}/edit" method = 'POST'>
    <label for="title"><p>Title:</p>
        <input type="text" name="title" placeholder="{{post.title}}">
    </label>
    <label for="content"><p>Content:</p>
        <input type="text" name="content" placeholder="{{post.content}}">
    </label>
    <button>Save</button>
    <button onclick="location.href='/post/{{post.id}}'">Cancel</button>
</form>

{% endblock %}